.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &__button {
    .button__content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__cpf,
  &__name,
  &__email,
  &__whats-up,
  &__password,
  &__date-of-birth{
    margin-bottom: 1rem;
  }

  &__gender {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__password-confirmation {
    margin-bottom: 2rem;
  }





}