@import "../../styles/main";

@mixin context($color) {
  .tooltip__container--body {
    &-caret {
      background: $color;
      &:after {
        background: $color;
      }
    }
    &-content {
      background-color: $color;
      color: var(--color-white);
    }
  }
}

.tooltip {
  &__context {
    &--info {
      @include context(var(--color-info-90));
    }
    &--error {
      @include context(var(--color-error-90));
    }
    &--neutral {
      @include context( var(--color-neutral-90) );
    }
    &--success {
      @include context(var(--color-success-90));
    }
    &--primary {
      @include context(var(--color-primary-90));
    }
    &--secondary {
      @include context(var(--color-secondary-90));
    }
    &--attention {
      @include context(var(--color-attention-90));
    }
  }
  &__container {
    display: inline-block;
    position: relative;

    @include focus;

    &:focus .tooltip__container--body,
    &:hover .tooltip__container--body {
      display: block;
    }
    &--body {
      width: max-content;
      outline: none;
      display: none;
      z-index: 999;
      position: absolute;

      &-caret {
        width: var(--size-tiny);
        height: var(--size-tiny);
        display: block;
        border-radius: 100%;


        &:after {
          content: "";
          display: block;
          position: relative;
        }
      }

      &-content {
        padding: var(--dimensions-tiny);
        max-width: 400px;
        font-size: var(--font-size-small);
        border-radius: var(--border-radius-small);
        &__title {
          font-weight: var(--font-weight-medium);
        }
      }
    }
    &--align {
      &-top {
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, 0);
        margin-bottom: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          left: calc(50% - var(--size-fixed-xx-tiny));
          bottom: -16px;
          position: absolute;

          &:after {
            left: 3px;
            width: var(--size-fixed-x-tiny);
            height: var(--size-fixed-tiny);
            bottom: var(--size-fixed-tiny);
          }
        }
      }

      &-left {
        top: 50%;
        right: 100%;
        transform: translate(0, -50%);
        margin-right: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          top: calc(50% - var(--size-fixed-xx-tiny));
          right: 0;
          position: absolute;
          margin-right: -16px;

          &:after {
            right: var(--size-fixed-tiny);
            width: var(--size-fixed-tiny);
            height: 2px;
            bottom: -3px;
          }
        }
      }

      &-right {
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);
        margin-left: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          top: calc(50% - var(--size-fixed-xx-tiny));
          position: absolute;
          margin-left: -16px;


          &:after {
            left: var(--size-fixed-tiny);
            width: var(--size-fixed-tiny);
            height: 2px;
            bottom: -3px;
          }
        }
      }

      &-bottom {
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: var(--dimensions-x-regular);
        .tooltip__container--body-caret {
          top: -16px;
          left: calc(50% - var(--size-fixed-xx-tiny));
          position: absolute;

          &:after {
            left: 3px;
            width: var(--size-fixed-x-tiny);
            height: var(--size-fixed-tiny);
            bottom: -8px;
          }
        }
      }

      &-top-left {
        right: 50%;
        bottom: 100%;
        margin-bottom: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          right: 0;
          bottom: -16px;
          position: absolute;

          &:after {
            left: 3px;
            width: var(--size-fixed-x-tiny);
            height: var(--size-fixed-tiny);
            bottom: var(--size-fixed-tiny);
          }
        }
      }

      &-top-right {
        left: 50%;
        bottom: 100%;
        margin-bottom: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          left: 0;
          bottom: -16px;
          position: absolute;

          &:after {
            left: 3px;
            width: var(--size-fixed-x-tiny);
            height: var(--size-fixed-tiny);
            bottom: var(--size-fixed-tiny);
          }
        }
      }

      &-bottom-left {
        right: calc(50% - var(--size-fixed-xx-tiny));
        margin-top: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          top: -16px;
          right: 0;
          position: absolute;

          &:after {
            left: 3px;
            width: var(--size-fixed-x-tiny);
            bottom: -8px;
            height: var(--size-fixed-tiny);
          }
        }
      }

      &-bottom-right {
        left: 50%;
        margin-top: var(--dimensions-x-regular);

        .tooltip__container--body-caret {
          top: -16px;
          left: 0;
          position: absolute;

          &:after {
            left: 3px;
            width: var(--size-fixed-x-tiny);
            height: var(--size-fixed-tiny);
            bottom: -8px;
          }
        }
      }
    }
  }
}
