@import "../../styles/main";

.rating {
  &__rate {
    color: var(--color-neutral-80);
    margin-left: var(--dimensions-xx-tiny);
  }
  &__informations {
    gap: var(--dimensions-tiny);
    display: flex;
    margin-top: var(--dimensions-tiny);
    align-items: center;
    &--count {
      font-size: var(--size-small);
      font-weight: var(--font-weight-bold);
    }
    &--icon {
      margin-right: var(--dimensions-tiny);
    }
  }
}