.profile {
  gap: 15px;
  display: flex;
  padding: var(--size-fixed-xx-regular) var(--size-fixed-medium) 5px;
  flex-direction: column;
  &__context {
    &--info {
      background-color: var(--color-info-80);
    }
    &--error {
      background-color: var(--color-error-80);
    }
    &--neutral {
      background-color: var(--color-neutral-80);
    }
    &--success {
      background-color: var(--color-success-80);
    }
    &--primary {
      background-color: var(--color-primary-100);
    }
    &--secondary {
      background-color: var(--color-secondary-100);
    }
    &--attention {
      background-color: var(--color-attention-80);
    }
  }
  &__info {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--link {
      border: none;
      color: var(--color-white);
      display: flex;
      .link {
        color: var(--color-white);
      }
    }
  }
}