@import "../../styles/main";

.avatar {
  border: 1px solid var(--color-neutral-50);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-radius: var(--size-large);
  justify-content: center;
  background-color: var(--color-white);

  &__img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    transition: opacity 0.2s;
    &--loaded {
      opacity: 1;
    }
  }

  &__size {

    &--small {
      width: calc(1.25 * var(--size-regular));
      height: calc(1.25 * var(--size-regular));
      .text {
        font-size: var(--font-size-tiny);
      }

      &.avatar__has-notification {
        &:after {
          width: calc(var(--size-xx-tiny) + var(--size-x-tiny));
          height: calc(var(--size-xx-tiny) + var(--size-x-tiny));
        }
      }
    }

    &--medium {
      width: calc(2 * var(--size-regular));
      height: calc(2 * var(--size-regular));

      .text {
        font-size: var(--font-size-small);
      }

      &.avatar__has-notification {
        &:after {
          width: calc(0.625 * var(--size-regular));
          height: calc(0.625 * var(--size-regular));
        }
      }
    }

    &--large {
      width: calc(2.5 * var(--size-regular));
      height: calc(2.5 * var(--size-regular));
    }

    &--big {
      width: calc(3.5 * var(--size-regular));
      height: calc(3.5 * var(--size-regular));
    }

  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: var(--size-large);
  }

  &__context {
    &--info {
      &.avatar {
        .text {
          color: var(--color-white);
        }
        background-color: var(--color-info-80);
      }
    }
    &--error {
      &.avatar {
        .text {
          color: var(--color-white);
        }
        background-color: var(--color-error-80);
      }
    }
    &--neutral {
      &.avatar {
        .text {
          color: var(--color-neutral-90);
        }
      }
    }
    &--success {
      &.avatar {
        .text {
          color: var(--color-white);
        }
        background-color: var(--color-success-80);
      }
    }
    &--primary {
      &.avatar {
        .text {
          color: var(--color-white);
        }
        background-color: var(--color-primary-80);
      }
    }
    &--secondary {
      &.avatar {
        .text {
          color: var(--color-white);
        }
        background-color: var(--color-secondary-80);
      }
    }
    &--attention {
      &.avatar {
        .text {
          color: var(--color-white);
        }
        background-color: var(--color-attention-80);
      }
    }
  }

  &__has-notification:after {
    top: 0;
    right: 0;
    border: 1px solid var(--color-white);
    content: "";
    position: absolute;
    background: var(--color-error-80);
    border-radius: 100%;
  }
}