@import "../../styles/main";

.input {
  &:hover {
    .input__item {
      border-color: var(--color-primary-90);
    }
  }
/*
 * =======
 * ROW
 * =======
 */
  &__row {
    display: flex;
    position: relative;
    align-items: stretch;

    > button:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    button {
      padding-top: var(--dimensions-x-small);
      padding-bottom: var(--dimensions-x-small);
    }
  }

/*
 * =======
 * ICONS
 * =======
 */
  &__icon {
    &--info {
      .icon {
        color: var(--color-info-80);
      }
    }
    &--error {
      .icon {
        color: var(--color-error-80);
      }
    }
    &--neutral {
      .icon {
        color: var(--color-neutral-110);
      }
    }
    &--success {
      .icon {
        color: var(--color-success-80);
      }
    }
    &--primary {
      .icon {
        color: var(--color-primary-100);
      }
    }
    &--secondary {
      .icon {
        color: var(--color-secondary-100);
      }
    }
    &--attention {
      .icon {
        color: var(--color-attention-80);
      }
    }
  }

/*
 * =======
 * LABEL
 * =======
 */
  &__label {
    background: var(--color-white);
    &--floating {
      position: relative;
    }

    .input__label--invalid {
      .label__text, .label__tip {
        color: var(--color-error-80);
      }
    }

    .input__label--shrink & {
      cursor: pointer;
      margin: 0 var(--dimensions-small);
      transform: translateY(calc(-50% - 1rem)) scale(#{0.75});
      background: linear-gradient( to bottom, transparent calc(50% - 3px), #{var(--color-white)} 0);
    }

    .input__label--floating & {
      top: 1rem;
      margin: 0 var(--dimensions-small);
      display: flex;
      z-index: 10;
      position: absolute;
      transform: translateY(0%);
      transition: transform #{0.1s} linear, background #{0.1s} linear, margin #{0.1s} linear;
      align-items: center;
      transform-origin: left center;
      &--icon-left {
        transform: translateX(var(--dimensions-big));
        margin-left: 0;
      }
    }

  }

/*
 * =======
 * INVALID
 * =======
 */
  &__invalid {
    &::placeholder {
      color: var(--color-error-80);
    }
  }


/*
 * =======
 * INPUT ITEM
 * =======
 */
  &__item {
    color: var(--color-neutral-100);
    width: 100%;
    padding: var(--dimensions-x-small) 1rem;
    border: 1px solid var(--color-neutral-60);
    text-align: left;
    border-radius: var(--border-radius-large);
    background-color: transparent;

    &::placeholder {
      color: var(--color-neutral-90);
    }

    &:hover {
      border-color: #e5cefd;
    }

    @include focus(
            $default-transition: (
                    border 0.2s ease-in-out,
                    box-shadow 0.2s ease-in-out,
            ),
            $overflow-border: true
    );

    &:active {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
    }

    &#{&}--mouse-focus:focus {
      border-color: #e5cefd;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    &[type="button"],
    &[type="submit"] {
      cursor: pointer;
    }

    &--icon {
        &-left {
          padding-left: var(--dimensions-xx-large);
        }
        &-right {
          padding-right: var(--dimensions-big);
        }
    }

    &--addon {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--append {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--counter {
      padding-right: var(--dimensions-big);
    }

    &--prepend {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--invalid {
      color: var(--color-error-80);
      border-color: var(--colors-error-80);

      &:focus {
        box-shadow: inset 0 0 0 1px var(--color-error-80);
      }

      &::placeholder {
        color: var(--color-error-80);
      }
    }

    &--variant {
      &-regular {
        height: var(--dimensions-large);
      }
      &-large {
        height: var(--dimensions-xx-big);
      }
    }

    &--disabled {
      color: var(--color-neutral-70);
      border-color: var(--color-neutral-50);
      background-color: var(--color-neutral-50);
    }

    &--multiline {
      height: auto;
    }
  }
}