@import "../../styles/main";

@mixin context($LightColor, $MediumColor, $DarkColor) {
  &-appearance__navbar {
    &--content-type__link ,
    &--content-type__button {
      top: 100%;
      width: auto;
      z-index: 101;
      padding: var(--dimensions-regular) 0;
      position: absolute;
    }
    &--content-type__link {
      margin-top: var(--dimensions-tiny);
      box-shadow: var(--shadows-x-small);
      border-radius: var(--borders-regular);
      background-color: var(--colors-neutral-70);
      .link {
        padding: var(--dimensions-x-small) var(--dimensions-xx-regular);
        &:hover {
          color: var(--colors-neutral-12);
          background-color: $DarkColor;
        }
      }
    }
    &--content-type__button {
      .button {
        padding: var(--dimensions-x-small) var(--dimensions-xx-regular);
        margin-top: var(--dimensions-tiny);
      }
    }
  }
  &-appearance__sidebar {
    &--trigger {
      &-activator__type--link {
        .link {
          color: $DarkColor;
          width: 100%;
          display: flex;
          border: 1px solid transparent;
          padding: var(--dimensions-regular);
          font-size: var(--dimensions-regular);
          font-weight: var(--text-weights-semi-bold);
          align-items: center;
          flex-direction: row;
          background-color: transparent;
          justify-content: space-between;
          &:hover, &:focus {
            border: none;
            border-radius: inherit;
            background-color: var(--colors-primary-80);
          }
        }
      }
      &-activator__type--button {
        .button {
          color: $DarkColor;
          width: 100%;
          display: flex;
          border: 1px solid transparent;
          padding: var(--dimensions-large) var(--dimensions-medium);
          font-size: var(--dimensions-regular);
          font-weight: var(--text-weights-semi-bold);
          align-items: center;
          flex-direction: row;
          background-color: transparent;
          justify-content: space-between;
          &:hover, &:focus {
            border: none;
            border-radius: inherit;
            background-color: var(--colors-primary-80);
          }
        }
      }
    }
    &--content-type__link,
    &--content-type__button {
      padding: 0;
      background-color: $LightColor;
    }

    &--content-type__button {
      .button {
        &__context--info,
        &__context--error,
        &__context--neutral,
        &__context--success,
        &__context--primary,
        &__context--secondary,
        &__context--attention, {
          &-appearance__standard,
          &-appearance__outline,
          &-appearance__borderless,
          &-appearance__iconButton {
            width: 100%;
            margin-top: var(--dimensions-tiny);
          }
        }
      }
    }

    &--content-type__link {
      .link {
        &__context--info,
        &__context--error,
        &__context--neutral,
        &__context--success,
        &__context--primary,
        &__context--secondary,
        &__context--attention, {
          &-appearance__menu,
          &-appearance__standard {
            width: 100%;
            display: flex;
            margin-top: var(--dimensions-tiny);
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  &-appearance__standard {
    &--content-type__link {
      top: 100%;
      display: flex;
      flex-direction: column;
      width: auto;
      z-index: 101;
      padding: var(--dimensions-regular) 0;
      position: absolute;
      margin-top: var(--dimensions-tiny);
      box-shadow: var(--shadows-x-small);
      border-radius: var(--borders-regular);
      background-color: var(--colors-neutral-70);
      .link {
        padding: var(--dimensions-x-small) var(--dimensions-xx-regular);
      }
    }
    &--content-type__button {
      .button {
        &__context--info,
        &__context--error,
        &__context--neutral,
        &__context--success,
        &__context--primary,
        &__context--secondary,
        &__context--attention, {
          &-appearance__standard,
          &-appearance__outline,
          &-appearance__borderless,
          &-appearance__iconButton {
            margin-top: var(--dimensions-tiny);
          }
        }
      }
    }
  }
}

.dropdown {
  width: 100%;
  display: inline-block;
  position: relative;
  .button__icon--position-right {
    margin-top: 0;
  }

  &__context--info {
    @include context( var(--color-info-60), var(--color-info-80), var(--color-info-80) );
  }
  &__context--error {
    @include context( var(--color-error-60), var(--color-error-80), var(--color-error-80) );
  }
  &__context--neutral {
    @include context( var(--color-neutral-60), var(--color-neutral-80), var(--color-neutral-100) );
  }
  &__context--success {
    @include context( var(--color-success-60), var(--color-success-80), var(--color-success-80) );
  }
  &__context--primary {
    @include context( var(--color-primary-50), var(--color-primary-80), var(--color-primary-100) );
  }
  &__context--secondary {
    @include context( var(--color-secondary-50), var(--color-secondary-80), var(--color-secondary-100) );
  }
  &__context-attention {
    @include context( var(--color-attention-60), var(--color-attention-80), var(--color-attention-80) );
  }
}