@import "../../styles/main";

@mixin context($backgroundColor, $color, $fill, $borderTopColor) {
  color: $color;
  background-color: $backgroundColor;
  
  .color-path path {
    fill: $fill;
  }

  &::before {
    border-top-color: $borderTopColor;
  }
}
.tag {
  display: inline-flex;
  padding: var(--dimensions-xx-tiny) var(--dimensions-tiny);
  position: relative;
  border-radius: var(--border-radius-small);
  

/*
 * =======
 * CONTENT
 * =======
 */
  &__content {
    gap: var(--dimensions-xx-tiny);
    display: inline-flex;
    line-height: var(--font-line-height-x-small);

    .icon {
      width: var(--dimensions-xx-regular);
      height: var(--dimensions-xx-regular);
    }
  }

/*
 * =======
 * INCLINE
 * =======
 */
  &__incline--left,
  &__incline--right {
    &-position {
      &__right {
        top: 0;
        right: -14px;
        position: absolute;
      }
      &__left {
        top: 0;
        left: -14px;
        position: absolute;
      }
    }

  }

/*
 * =======
 * INCLINED
 * =======
 */
  &__inclined {
    border-radius: 0;
    &--right {
      margin-left: var(--dimensions-small);
      margin-right: var(--dimensions-small);
      &:before {
        top: 100%;
        left: -14px;
        border: var(--dimensions-x-small) solid transparent;
        width: 0;
        height: 0;
        content: "";
        display: block;
        position: absolute;
        border-top: var(--dimensions-x-small) solid;
        border-right: 0;
        border-bottom: 0;
      }
    }
    &--left {
      margin-left: var(--dimensions-small);
      margin-right: var(--dimensions-small);
      &:before {
        top: 100%;
        right: -14px;
        width: 0;
        height: 0;
        border: var(--dimensions-x-small) solid transparent;
        content: "";
        display: block;
        position: absolute;
        border-top: var(--dimensions-x-small) solid;
        border-left: 0;
        border-bottom: 0;

      }
    }
  }

/*
 * =======
 * DETAIL
 * =======
 */
  &__detail {
    &--left {
      border-bottom-left-radius: 0;
      &:before {
        left: 0;
        top: 100%;
        width: 0;
        height: 0;
        border: var(--dimensions-x-small) solid transparent;
        content: "";
        display: block;
        position: absolute;
        border-top: var(--dimensions-x-small) solid;
        border-right: 0;
        border-bottom: 0;
      }
    }
    &--right {
      border-bottom-right-radius: 0;
      &:before {
        top: 100%;
        right: 0;
        width: 0;
        height: 0;
        content: "";
        display: block;
        border: var(--dimensions-x-small) solid transparent;
        position: absolute;
        border-top: var(--dimensions-x-small) solid;
        border-left: 0;
        border-bottom: 0;
      }
    }
  }


/*
 * =======
 * ICON SIDE
 * =======
 */
  &__icon--side {
    &-right{
      .tag__content {
        flex-direction: row-reverse;
      }
    }
    &-left {
      .tag__content {
        flex-direction: row;
      }
    }
  }

/*
 * =======
 * CONTEXT
 * =======
 */
  &__context {
    &-primary {
      @include context(
                      var(--color-primary-50),
                      var(--color-primary-100),
                      var(--color-primary-50),
                      var(--color-primary-80)
      );
    }
    &-secondary {
      @include context(
                      var(--color-secondary-50),
                      var(--color-secondary-100),
                      var(--color-secondary-50),
                      var(--color-secondary-80)
      );
    }
    &-info {
      @include context(
                      var(--color-info-60),
                      var(--color-info-90),
                      var(--color-info-60),
                      var(--color-info-70)
      );
    }
    &-success {
      @include context(
                      var(--color-success-60),
                      var(--color-success-90),
                      var(--color-success-60),
                      var(--color-success-70)
      );
    }
    &-attention {
      @include context(
                      var(--color-attention-60),
                      var(--color-attention-90),
                      var(--color-attention-60),
                      var(--color-attention-70)
      );
    }
    &-error {
      @include context(
                      var(--color-error-60),
                      var(--color-error-90),
                      var(--color-error-60),
                      var(--color-error-70)
      );
    }
    &-neutral {
      @include context(
                      var(--color-neutral-50),
                      var(--color-neutral-80),
                      var(--color-neutral-50),
                      var(--color-neutral-60)
      );
    }
  }

  &__full-width {
    width: 100%;
    border-radius: 0;
    justify-content: center;
  }

  &__wide-icon {
    .icon {
      width: auto;
      height: 1rem;
      display: flex;
      padding-top: 6px;
    }
  }
}
