.sidebar {
  top: 100%;
  gap: var(--dimensions-tiny);
  color: var(--colors-neutral-28);
  left: auto;
  right: 0;
  width: 392px;
  z-index: 90;
  padding: var(--dimensions-regular) 0;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(24, 39, 75, 0.16);
  list-style: none;
  border-radius: var(--dimensions-tiny);
  background-color: var(--color-white);
  overscroll-behavior-y: contain;

  &__container {
    height: 100%;
    overflow-y: auto;
    &--list {
      .button {
        border: none;
      }
      display: none;
    }
    &--logout {
      .button {
        border: none;
      }
    }
    &--profile {
      &-header {
        &[data-active="true"] {
          display: block;
        }
        &__close {
          color: var(--color-white);
          width: fit-content;
          cursor: pointer;
        }
      }
    }
    &--divider {
      border: 0;
      margin: 0;
      height: var(--dimensions-tiny);
      background-color: var(--color-neutral-50);
    }
    &--filtered {
      &-group {
        border-bottom: 1px solid var(--color-neutral-50);
        &__title {
            padding: 1.25rem 1.75rem 0;
        }
      }
    }
    &--navbar {
      margin: 0;
      list-style: none;
    }
  }

  @media screen and (max-width: 720px) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    padding: 0;
    position: fixed;
    transform: translateX(-100%);
    transition: all ease-in-out 300ms;
    visibility: hidden;
    border-radius: 0;
    pointer-events: none;
    &__show {
      visibility: visible;
      transform: translateX(0);
      pointer-events: auto;
    }
  }

  @media screen and (min-width: 720px) {
    top: 0;
    gap: inherit;
    right: auto;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
    display: flex;
    max-width: 360px;
    min-width: 360px;
    box-shadow: none;
    position: sticky;
    border-right: 1px solid var(--color-neutral-50);
    flex-direction: column;
    background-color: var(--color-white);
    &__container {
      &--list {
        display: block;
        &-group {
          border-bottom: 1px solid var(--color-neutral-50);
          &__title {
            padding: 1.25rem 1.75rem 5px;
          }
        }
      }
      &--navbar,
      &--divider,
      &--profile,
      &--filtered {
        display: none;
      }
    }
  }
}